.toolbar {
  width: 100vw;
  height: 100vh;
  position: fixed;
  box-sizing: border-box;
  border-top: 60px solid #1a1a1a;
  border-bottom: 10px solid #1a1a1a;
  border-left: 10px solid #1a1a1a;
  border-right: 10px solid #1a1a1a;
}

.menu {
  margin-top: 0;
}

.menu ul {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.menu li {
  user-select: none;
  padding: 20px 40px;
}

.menu li:hover {
  background-color: white;
  color: #1a1a1a;
}

.coord {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 0px 20px;
  font-size: 12px;
  background-color: #57575760;
}
